{% extends "base.html" %}

{% block content %}

<h1>Login</h1>
<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <div class="loginForm">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>

        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>

    </div>
</form>

{% endblock content %}